			/**
			TODO
				1. implement mobile view & desktop view
					a. hide search and top button
					b. strech each search results to 1 row
					
				2. change aspect ratio of iframe dynamically with 4:3 
			
			**/
			
			
			
			/* G L O B A L   P R O P E R T I E S */
* {
	box-sizing: border-box;
}
.hide	 {
  display: none;
}
section {
	/*
	padding-left: 20px;
  padding-right: 20px;
  */
  margin: 0 auto;
  margin-bottom: 1%;
}
.container{
	padding-top: 1% 0;
}
.video-list{
	font-weight: bold;
}
			/* From top to bottom*/
			
			/* S E A R C H   S E C T I O N */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	clear: both;
	background-color: orange;
	padding: 1%;
}
input[type=text] {
  width: 450px;
  padding: 2px 3px;
}
.search-btn {

}
.toggle-result {
	
}
			/* R E S U L T   S E C T I O N */
.result-section {
	background-color: #eeeeee;
	height: 350px;
	overflow: auto;
	margin-top: 65px;
}

.search-result {
	display: inline-block;
	width: 300px;
	height: 150px;
	float: left;
}


				/* V I D E O    S E C T I O N */
.video-section {
	margin-top: 90px;
}
.iframe-div {
	background-color: orange;
	text-align: center;
}
iframe {
	/*
	padding-bottom: 25%;
	*/
	width: 500px;
	height: 280px;
}
.nav-div {
	padding: 5px;
	text-align: center;
	clear: both;
}
.video-related {
	background-color: #eeefff;
	margin-bottom: 100px;
}


			/* F O O T E R   S E C T I O N */
.div-footer {
	width: 100%;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #cccccc;
	clear: both;
}
#top {
	margin: 5px;
}



			/* G R I D */
			
.section::before,
.section::after {
  display: table;
  content: '';
}

.section::after {
  clear: both;
}

.col-6, .col-12 {
	float: left;
	
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;
	
	width: 100%;
}

@media only screen and (min-width: 640px){
	.col-6 {
		width: 50%;
	}
	.col-12 {
		width: 100%;
	}
}