			/**
			TODO
				1. implement mobile view & desktop view
					a. hide search and top button
					b. strech each search results to 1 row
					** my iphone is iphone 5, 568 x 320
					
				2. change aspect ratio of iframe dynamically with 4:3 
				
				
				
				Was working on responsive grid for iphone5
				
			**/
			
			
			
			/* G L O B A L   P R O P E R T I E S */
* {
	box-sizing: border-box;
}
body {
	background-color: tan;
}
.hide	 {
  display: none;
}
section {
  margin: 0 auto;
  margin-bottom: 1%;
}

.video-list{
	font-weight: bold;
	margin: 0;
	font-size: x-large;
}
			/* From top to bottom*/
			
			/* S E A R C H   S E C T I O N */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	clear: both;
	background-color: darkgoldenrod;
	padding: 5px 20px;
}
.search-span{
	font-size: x-large;
}
input[type=text] {
  width: 350px;
  padding: 2px 3px;
}
.search-btn {

}
.toggle-result {
	position: absolute;
	top: 32px;
	right: 20px;
}
.inst {
	position: absolute;
	top: 32px;
	right: 130px;
}
			/* R E S U L T   S E C T I O N */
.result-section {
	background-color: #eeeeee;
	//height: 350px;
	overflow: auto;
	margin-top: 10px;
	padding-top: 10px;
}

.search-result {
	display: inline-block;
	width: 300px;
	height: 100px;
	float: left;
}


				/* V I D E O    S E C T I O N */
.video-section {
	margin-top: 70px;
}
.iframe-div {
	background-color: antiquewhite;
	text-align: center;
}
iframe {
	width: 500px;
	height: 280px;
}
.nav-div {
	padding: 5px;
	text-align: center;
	clear: both;
}
.video-related {
	background-color: tan;
	margin-bottom: 10px;
	height: auto;
	overflow: auto;
	padding-top: 10px;
}


			/* F O O T E R   S E C T I O N */
.div-footer {
	width: 100%;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #cccccc;
	clear: both;
}
#top {
	margin: 5px;
}



			/* G R I D */
			
.section::before,
.section::after {
  display: table;
  content: '';
}

.section::after {
  clear: both;
}

.col-6, .col-12 {
	float: left;
	
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;
	
	width: 100%;
}
.result-img {
	float: left;
}
.result-p {
	
}
/*
@media only screen and (max-width: 320px){	
	
	body {
		margin: 0;
	}
	section {
		margin: 0;
	}
	
	.col-6, .col-12 {
		float: left;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.inst {
		display: none;
	}
	.search-result {
		width: 100%;
	}
	.result-p{
		
	}
	.result-img{
		float: left;
	}
	.toggle-result{
		position: relative;
		top: 0;
		right: 0;
	}
	input[type=text]{
		width: 250px;
	}
	iframe {
		width: 300px;
		height: 225px;
	}
}
*/
@media only screen and (max-width: 900px){
	/*when the screen is smaller than 640px*/
	body {
		margin: 0;
	}
	section {
		margin: 0;
	}
	
	.col-6, .col-12 {
		float: left;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		height: 300px;
	}
	.inst {
		display: none;
	}
	.search-result {
		width: 100%;
	}
	.result-p{
		
	}
	.result-img{
		float: left;
	}
	.toggle-result{
		position: relative;
		top: 0;
		right: 0;
	}
	input[type=text]{
		width: 250px;
	}
	iframe {
		width: 300px;
		height: 225px;
	}
	.video-related {
		overflow: hidden;
		height: auto;
		margin-bottom: 30px;
	}
	.next-btn,
	.prev-btn {
		position: relative;
	}
	.rel-btn-container {
		//margin-bottom: 30px;
	}
	.next-btn {
		right:0;
	}
	.page-btn {
		width: 50%;
	}
}

.test1 {
	background-color: white;
	width: 300px;
	padding: 10px;
}
.test1 h2 {
	text-align: center;
}

.result-div {
	
}

.page-btn {
	width: 50%;
	height: 80px;
	bottom: 0;
}

 .page-btn::before, .page-btn::after {
	visibility: hidden;
	display: table;
	content: "";
}


.button-container {
	clear: left;
	height: 120px;
	position: relative;
}

.next-btn {
	position: absolute;
	right: 0;
}

.prev-btn {
	position: absolute;
	left: 0;
}

.rel-btn-container {
	padding-top: 40px;
	height: 100px;
}

.s-btn-container {
	height: 90px;
}