.form-submit-btn {
	border-radius: 0 .25rem .25rem 0;
}
.hide	 {
  display: none!important;
}

.inst {
	display: none;
}
.nav-div {
	text-align: center;
}


/**
	FOOTER
**/
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	clear: both;
	z-index: 2;
}
.div-footer {
	position: relative;
	text-align: center;
	width: 100%;
}
